// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    .footer {
        padding: 20px;
        font-size: 14px;
        letter-spacing: 0.12em;
        line-height: 19px;
        text-align: center;
        color: #21508D;
        font-family: YuGothic;
        font-weight: bold;
        background-color: #B8CCEC;
    }
}