.section-feature {
    padding-top: 103px;
    padding-bottom: 68px;
    background: #f9f9f9;
    .feature-ttl {
        padding: 0 20px;
        position: relative;
        font-size: 34px;
        letter-spacing: 0.12em;
        line-height: 37px;
        font-family: YuGothic;
        font-weight: bold;
        text-align: center;
        color: #463c39;
        .sp-only {
            display: none;
        }
        &__top {
            position: absolute;
            top: -40px;
            left: 50%;
            font-size: 64px;
            line-height: 64px;
            transform: translateX(-50%);
            font-family: Marcellus;
            font-weight: normal;
            color: rgba(146, 135, 134, 0.3);
            opacity: 0.8;
        }
    }
    .feature-desc {
        margin-top: 55px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 26px;
        font-family: YuGothic;
        font-weight: bold;
        text-align: center;
        color: #463c39;
        .color-blue {
            color: #21508D;
        }
    }
    .feature-items-list {
        padding: 47px 150px;
        .mt-30 {
            margin-top: 30px;
        }
        .feature-item {
            padding: 45px 63px;
            border-radius: 30px;
            background: #fff;
            display: flex;
            .item-img__pack {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 404px;
                .feature-item-f {
                    display: block;
                }
                .feature-item-f-sm {
                    display: none;
                }
                .feature-item-t {
                    display: block;
                }
                .feature-item-t-sm {
                    display: none;
                }
            }
            .item-desc {
                padding: 40px 0 0 70px;
                width: calc( 100% - 404px);
                &__ttl {
                    font-size: 26px;
                    // letter-spacing: 0.1em;
                    line-height: 30px;
                    font-family: YuGothic;
                    font-weight: bold;
                    color: #f03460;
                    .ttl-number {
                        margin-right: 20px;
                        font-size: 30px;
                        letter-spacing: 0.01em;
                        line-height: 30px;
                        font-family: "Futura PT";
                        font-weight: normal;
                        color: #9f776b;
                        .sp-only {
                            display: none;
                        }
                    }
                }
                &__desc {
                    margin-top: 30px;
                    font-size: 14px;
                    line-height: 26px;
                    font-family: YuGothic;
                    font-weight: bold;
                    color: #463c39;
                }
            }
        }
        .feature-item-s {
            padding: 45px 63px;
            border-radius: 30px;
            background: #fff;
            display: flex;
            .item-desc {
                padding-top: 40px;
                padding-right: 70px;
                width: calc( 100% - 404px);
                &__ttl {
                    font-size: 28px;
                    line-height: 30px;
                    font-family: YuGothic;
                    font-weight: bold;
                    color: #f03460;
                    .ttl-number {
                        margin-right: 20px;
                        font-size: 30px;
                        letter-spacing: 0.01em;
                        line-height: 30px;
                        font-family: "Futura PT";
                        font-weight: normal;
                        color: #9f776b;
                        .sp-only {
                            display: none;
                        }
                    }
                }
                &__desc {
                    margin-top: 30px;
                    font-size: 14px;
                    line-height: 26px;
                    font-family: YuGothic;
                    font-weight: bold;
                    color: #463c39;
                }
            }
            .item-img__pack {
                width: 404px;
                display: flex;
                align-items: center;
                justify-content: center;
                .feature-item-s {
                    display: block;
                }
                .feature-item-s-sm {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .section-feature {
        padding-bottom: 68rem;
        .feature-items-list {
            .feature-item {
                .item-img__pack {
                    width: 404rem;
                }
                .item-desc {
                    padding: 0 0 0 20px;
                    width: calc( 100% - 404rem);
                    &__ttl {
                        font-size: 25rem;
                        line-height: 25rem;
                        .ttl-number {
                            margin-right: 10rem;
                            font-size: 20px;
                            line-height: 30rem;
                        }
                    }
                    &__desc {
                        margin-top: 20rem;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
            .feature-item-s {
                .item-desc {
                    padding-top: 0px;
                    padding-right: 20px;
                    width: calc( 100% - 404rem);
                    &__ttl {
                        font-size: 25rem;
                        line-height: 25rem;
                        .ttl-number {
                            margin-right: 10rem;
                            font-size: 30rem;
                            line-height: 30rem;
                        }
                    }
                    &__desc {
                        margin-top: 20rem;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .item-img__pack {
                    width: 404rem;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section-feature {
        .feature-items-list {
            padding: 47rem 150rem;
            .feature-item {
                padding: 25px 35px;
                flex-direction: column;
                align-items: center;
                .item-img__pack {
                    width: 900rem;
                    img {
                        width: 100%;
                    }
                }
                .item-desc {
                    padding: 0px;
                    margin-top: 30px;
                    width: auto;
                    &__ttl {
                        font-size: 18px;
                        line-height: 20px;
                        text-align: center;
                    }
                    &__desc {}
                }
            }
            .feature-item-s {
                padding: 25px 35px;
                flex-direction: column-reverse;
                align-items: center;
                .item-desc {
                    padding: 0px;
                    margin-top: 30px;
                    width: auto;
                    &__ttl {
                        font-size: 18px;
                        line-height: 20px;
                        text-align: center;
                    }
                    &__desc {}
                }
                .item-img__pack {
                    width: 900rem;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .section-feature {
        padding-top: 70px;
        padding-bottom: 35px;
        .feature-ttl {
            padding: 0 20px;
            font-size: 22px;
            line-height: 25px;
            .sp-only {
                display: block;
            }
            &__top {
                top: -25px;
                left: 50%;
                font-size: 44px;
                line-height: 44px;
            }
        }
        .feature-desc {
            margin-top: 26px;
            padding: 0 60px 30px;
            font-size: 14px;
            line-height: 22px;
            text-align: left;
        }
        .feature-items-list {
            padding: 0px 15px;
            .feature-item {
                margin: 0 auto;
                padding: 0;
                width: 345px;
                border-radius: 20px;
                display: flex;
                .item-img__pack {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 345px;
                    .feature-item-f {
                        display: none;
                    }
                    .feature-item-f-sm {
                        display: block;
                        width: 345px;
                    }
                    .feature-item-t {
                        display: none;
                    }
                    .feature-item-t-sm {
                        display: block;
                        width: 345px;
                    }
                }
                .item-desc {
                    margin-top: 7px;
                    &__ttl {
                        font-size: 24px;
                        line-height: 30px;
                        text-align: left;
                        padding-left: 20px;
                        .ttl-number {
                            margin-right: 20px;
                            font-size: 30px;
                            letter-spacing: 0.01em;
                            line-height: 35px;
                            .sp-only {
                                display: block;
                            }
                        }
                    }
                    &__desc {
                        margin-top: 18px;
                        padding: 0px 20px 28px;
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
            .feature-item-s {
                margin: 0 auto;
                padding: 0;
                width: 345px;
                border-radius: 20px;
                .item-desc {
                    margin-top: 13px;
                    &__ttl {
                        font-size: 24px;
                        line-height: 30px;
                        text-align: left;
                        padding-left: 20px;
                        .ttl-number {
                            margin-right: 20px;
                            font-size: 30px;
                            letter-spacing: 0.01em;
                            line-height: 35px;
                            .sp-only {
                                display: block;
                            }
                        }
                    }
                    &__desc {
                        margin-top: 18px;
                        padding: 0px 20px 28px;
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
                .item-img__pack {
                    width: 345px;
                    .feature-item-s {
                        display: none;
                    }
                    .feature-item-s-sm {
                        display: block;
                        width: 345px;
                    }
                }
            }
            .mt-30 {
                margin-top: 30px;
            }
        }
    }
}