.section-case {
    padding-top: 124px;
    padding-bottom: 108px;
    background: #eff5fc;
    .container {
        .case-ttl {
            font-size: 34px;
            letter-spacing: 0.12em;
            line-height: 35px;
            text-align: center;
            color: #463c39;
            font-family: YuGothic;
            font-weight: bold;
            position: relative;
            &__top {
                font-size: 64px;
                line-height: 64px;
                position: absolute;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
                font-family: Marcellus;
                font-weight: normal;
                color: rgba(146, 135, 134, 0.3);
                opacity: 0.8;
            }
        }
        .case-items-pc {
            .case-items {
                margin-top: 42px;
                padding: 0 200px;
                display: flex;
                justify-content: center;
                .items-item {
                    .item-img__pack {
                        text-align: center;
                    }
                    .item-ttl {
                        margin-top: 18px;
                        font-size: 18px;
                        line-height: 27px;
                        font-family: YuGothic;
                        font-weight: bold;
                        text-align: center;
                        color: #463c39;
                    }
                }
                .ml-40 {
                    margin-left: 40px;
                }
            }
        }
        .case-items-tb {
            display: none;
            .case-items {
                margin-top: 42px;
                padding: 0 100rem;
                display: flex;
                justify-content: center;
                .items-item {
                    .item-img__pack {
                        text-align: center;
                    }
                    .item-ttl {
                        margin-top: 18px;
                        font-size: 17px;
                        line-height: 20px;
                        font-family: YuGothic;
                        font-weight: bold;
                        text-align: center;
                        color: #463c39;
                    }
                }
                .ml-40 {
                    margin-left: 40px;
                }
            }
        }
        .case-items-sp {
            display: none;
            .case-items {
                margin-top: 42px;
                padding: 0 100rem;
                display: flex;
                justify-content: center;
                .items-item {
                    .item-img__pack {
                        text-align: center;
                    }
                    .item-ttl {
                        margin-top: 18px;
                        font-size: 17px;
                        line-height: 20px;
                        font-family: YuGothic;
                        font-weight: bold;
                        text-align: center;
                        color: #463c39;
                    }
                }
                .ml-40 {
                    margin-left: 40px;
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .section-case {
        .container {
            .case-items-pc {
                .case-items {
                    margin-top: 42px;
                    padding: 0 50rem;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section-case {
        .container {
            .case-items-pc {
                display: none;
            }
            .case-items-tb {
                display: block;
            }
        }
    }
}

@media (max-width: 750px) {
    .section-case {
        .container {
            .case-ttl {
                font-size: 22px;
                letter-spacing: 0.12em;
                line-height: 22px;
                &__top {
                    font-size: 44px;
                    line-height: 44px;
                    top: -30px;
                    left: 50%;
                }
            }
            .case-items-tb {
                display: none;
            }
            .case-items-sp {
                display: block;
                .case-items {
                    margin-top: 19px;
                    padding: 0 100rem;
                    .items-item {
                        .item-ttl {
                            margin-top: 12px;
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                    .ml-40 {
                        margin-left: 35px;
                    }
                }
            }
        }
    }
}