.section-doctor {
    padding-top: 110px;
    padding-bottom: 88px;
    .container {
        .doctor-ttl {
            padding: 0 20px;
            position: relative;
            font-size: 34px;
            letter-spacing: 0.12em;
            line-height: 37px;
            font-family: YuGothic;
            font-weight: bold;
            text-align: center;
            color: #463c39;
            &__top {
                position: absolute;
                top: -40px;
                left: 50%;
                font-size: 64px;
                line-height: 64px;
                transform: translateX(-50%);
                font-family: Marcellus;
                font-weight: normal;
                color: rgba(146, 135, 134, 0.3);
                opacity: 0.8;
            }
        }
        .doctor-pc {
            .doctor-ledger {
                margin-top: 81px;
                display: flex;
                justify-content: space-between;
                &__desc {
                    padding-left: 160px;
                    padding-top: 20px;
                    width: 52%;
                }
                &__img-pack {
                    width: 48%;
                    padding-left: 49px;
                }
            }
            .doctor-vise {
                margin-top: 140px;
                display: flex;
                justify-content: space-between;
                &__desc {
                    padding-left: 49px;
                    padding-right: 20px;
                    padding-top: 140px;
                    width: 50%;
                }
                &__img-pack {
                    width: 45%;
                }
            }
            .doctor-txt {
                font-size: 34px;
                line-height: 38px;
                color: #21508D;
            }
            .under-line {
                width: 474px;
                margin-top: 22px;
                border: 1px solid #9AB5D8;
                position: relative;
                &__value {
                    width: 215px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 1px solid #21508D;
                }
            }
            .doctor-name {
                margin-top: 70px;
                font-size: 56px;
                font-family: "YuGothic";
                color: #463C39;
                position: relative;
                &__en {
                    font-size: 64px;
                    position: absolute;
                    top: -40px;
                    left: 36px;
                    font-family: "Marcellus";
                    color: #DFDFDF;
                    z-index: -10;
                }
            }
            .doctor-position {
                margin-top: 28px;
                font-size: 21px;
                font-family: "YuGothic";
                font-weight: bold;
                color: #7198D9;
            }
            .doctor-career {
                margin-top: 58px;
                &__ttl {
                    font-size: 20px;
                    font-family: "YuGothic";
                    font-weight: bold;
                    color: #21508D;
                }
                &__desc {
                    margin-top: 19px;
                    font-size: 14px;
                    line-height: 26px;
                    font-family: "YuGothic";
                    font-weight: bold;
                }
            }
            .doctor-society {
                margin-top: 24px;
                &__ttl {
                    font-size: 20px;
                    font-family: "YuGothic";
                    font-weight: bold;
                    color: #21508D;
                }
                &__desc {
                    margin-top: 19px;
                    font-size: 14px;
                    font-family: "YuGothic";
                    font-weight: bold;
                }
            }
            .doctor-award {
                margin-top: 24px;
                &__ttl {
                    font-size: 20px;
                    font-family: "YuGothic";
                    font-weight: bold;
                    color: #21508D;
                }
                &__desc {
                    margin-top: 19px;
                    font-size: 14px;
                    font-family: "YuGothic";
                    font-weight: bold;
                }
            }
            .doctor-paper {
                margin-top: 48px;
                &__ttl {
                    font-size: 20px;
                    font-family: "YuGothic";
                    font-weight: bold;
                    color: #21508D;
                }
                &__desc {
                    margin-top: 19px;
                    font-size: 14px;
                    font-family: "YuGothic";
                    font-weight: bold;
                }
                &__count {
                    margin-top: 42px;
                    font-size: 14px;
                    font-family: "YuGothic";
                    font-weight: bold;
                }
            }
        }
        .doctor-sp {
            display: none;
            .sp-top {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                &__desc {
                    padding: 0 60rem 0 120rem;
                    .doctor-txt {
                        font-size: 55rem;
                        line-height: 30px;
                        color: #21508D;
                    }
                    .under-line {
                        width: 700rem;
                        margin-top: 20rem;
                        border: 1px solid #9AB5D8;
                        position: relative;
                        &__value {
                            width: 250rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border: 1px solid #21508D;
                        }
                    }
                    .doctor-name {
                        margin-top: 35px;
                        font-size: 90rem;
                        font-family: "YuGothic";
                        color: #463C39;
                        position: relative;
                        &__en {
                            font-size: 85rem;
                            position: absolute;
                            top: -40px;
                            left: 36px;
                            font-family: "Marcellus";
                            color: #DFDFDF;
                            z-index: -10;
                        }
                    }
                    .doctor-position {
                        margin-top: 45rem;
                        font-size: 19px;
                        font-family: "YuGothic";
                        font-weight: bold;
                        color: #7198D9;
                    }
                }
                &__img-pack {
                    padding-left: 25rem;
                    img {
                        width: 450rem;
                    }
                }
            }
            .sp-content {
                padding: 0 120rem;
                .doctor-career {
                    &__ttl {
                        font-size: 20px;
                        font-family: "YuGothic";
                        font-weight: bold;
                        color: #21508D;
                    }
                    &__desc {
                        margin-top: 19px;
                        font-size: 14px;
                        line-height: 26px;
                        font-family: "YuGothic";
                        font-weight: bold;
                    }
                }
                .doctor-society {
                    margin-top: 24px;
                    &__ttl {
                        font-size: 20px;
                        font-family: "YuGothic";
                        font-weight: bold;
                        color: #21508D;
                    }
                    &__desc {
                        margin-top: 19px;
                        font-size: 14px;
                        font-family: "YuGothic";
                        font-weight: bold;
                    }
                }
                .doctor-award {
                    margin-top: 24px;
                    &__ttl {
                        font-size: 20px;
                        font-family: "YuGothic";
                        font-weight: bold;
                        color: #21508D;
                    }
                    &__desc {
                        margin-top: 19px;
                        font-size: 14px;
                        font-family: "YuGothic";
                        font-weight: bold;
                    }
                }
                .doctor-paper {
                    margin-top: 48px;
                    &__ttl {
                        font-size: 20px;
                        font-family: "YuGothic";
                        font-weight: bold;
                        color: #21508D;
                    }
                    &__desc {
                        margin-top: 19px;
                        font-size: 14px;
                        font-family: "YuGothic";
                        font-weight: bold;
                    }
                    &__count {
                        margin-top: 42px;
                        font-size: 14px;
                        font-family: "YuGothic";
                        font-weight: bold;
                    }
                }
            }
            .sp-bottom__img-pack {
                padding: 20px;
                display: flex;
                justify-content: center;
            }
            .mt-20 {
                margin-top: 20px;
            }
            .pl-0 {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 1399px) {
    .section-doctor {
        .container {
            .doctor-pc {
                .doctor-ledger {
                    margin-top: 60rem;
                    &__desc {
                        padding-left: 50rem;
                        padding-top: 0;
                        width: 55%;
                    }
                    &__img-pack {
                        padding-left: 10rem;
                        width: 45%;
                    }
                }
                .under-line {
                    width: 450rem;
                    margin-top: 22px;
                    &__value {
                        width: 200rem;
                    }
                }
                .doctor-name {
                    margin-top: 60rem;
                    font-size: 50rem;
                    &__en {
                        font-size: 60rem;
                        top: -40px;
                        left: 36px;
                    }
                }
                .doctor-position {
                    margin-top: 25rem;
                    font-size: 21px;
                }
                .doctor-career {
                    margin-top: 50rem;
                    &__ttl {
                        font-size: 20px;
                    }
                    &__desc {
                        margin-top: 19rem;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .doctor-society {
                    margin-top: 20rem;
                    &__ttl {
                        font-size: 20px;
                    }
                    &__desc {
                        margin-top: 15rem;
                        font-size: 14px;
                    }
                }
                .doctor-award {
                    margin-top: 20rem;
                    &__ttl {
                        font-size: 20px;
                    }
                    &__desc {
                        margin-top: 15rem;
                        font-size: 14px;
                    }
                }
                .doctor-paper {
                    margin-top: 40rem;
                    &__desc {
                        margin-top: 16rem;
                    }
                    &__count {
                        margin-top: 40rem;
                    }
                }
                .doctor-vise {
                    margin-top: 30px;
                    &__desc {
                        padding-left: 40rem;
                        padding-right: 20px;
                        padding-top: 0;
                        width: 55%;
                    }
                    &__img-pack {
                        width: 45%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section-doctor {
        .container {
            .doctor-pc {
                display: none;
            }
            .doctor-sp {
                display: block;
            }
        }
    }
}

@media (max-width: 750px) {
    .section-doctor {
        .container {
            // padding: 0 150rem;
            .doctor-ttl {
                font-size: 22px;
                letter-spacing: 0.12em;
                line-height: 22px;
                &__top {
                    font-size: 44px;
                    line-height: 44px;
                    top: -30px;
                    left: 50%;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .section-doctor {
        padding-top: 58px;
        padding-bottom: 58px;
        .container {
            .doctor-ttl {
                font-size: 22px;
                line-height: 25px;
                &__top {
                    font-size: 44px;
                    line-height: 44px;
                }
            }
            .doctor-sp {
                .sp-top {
                    &__desc {
                        padding: 0 0 0 20px;
                        .doctor-txt {
                            font-size: 14px;
                            line-height: 15px;
                        }
                        .under-line {
                            width: 202px;
                            margin-top: 10px;
                            &__value {
                                width: 91px;
                            }
                        }
                        .doctor-name {
                            margin-top: 23px;
                            font-size: 25px;
                            line-height: 28px;
                            &__en {
                                font-size: 24px;
                                top: -14px;
                                left: 14px;
                            }
                        }
                        .doctor-position {
                            margin-top: 15px;
                            font-size: 14px;
                        }
                    }
                    &__img-pack {
                        padding-left: 13px;
                        img {
                            width: 131px;
                        }
                    }
                }
                .sp-content {
                    padding: 0 34px 0 20px;
                    .doctor-career {
                        &__ttl {
                            font-size: 14px;
                        }
                        &__desc {
                            margin-top: 10px;
                            font-size: 14px;
                            line-height: 23px;
                            font-weight: normal;
                        }
                    }
                    .doctor-society {
                        margin-top: 20px;
                        &__ttl {
                            font-size: 14px;
                        }
                        &__desc {
                            margin-top: 10px;
                            font-size: 12px;
                        }
                    }
                    .doctor-award {
                        margin-top: 20px;
                        &__ttl {
                            font-size: 14px;
                        }
                        &__desc {
                            margin-top: 10px;
                            font-size: 12px;
                        }
                    }
                    .doctor-paper {
                        margin-top: 20px;
                        &__ttl {
                            font-size: 14px;
                        }
                        &__desc {
                            margin-top: 10px;
                            font-size: 10px;
                            line-height: 19px;
                        }
                        &__count {
                            margin-top: 20px;
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
                .sp-bottom__img-pack {
                    padding: 0px 0px 0px 20px;
                    img {
                        width: 351px;
                    }
                }
                .mt-50- {
                    margin-top: -50px;
                }
                .justify-end {
                    justify-content: end;
                }
                .mt-20 {
                    margin-top: 20px;
                }
                .pl-0 {
                    padding-left: 0;
                }
                .pr-20 {
                    padding-right: 20px;
                }
                .justify-start {
                    justify-content: start;
                }
            }
        }
    }
}