.section-itero {
    margin-top: 115px;
    .container {
        position: relative;
        .itero-ttl {
            padding: 0 20px;
            position: relative;
            font-size: 34px;
            letter-spacing: 0.12em;
            line-height: 37px;
            font-family: YuGothic;
            font-weight: bold;
            text-align: center;
            color: #463c39;
            .sp-only {
                display: none;
            }
            &__top {
                position: absolute;
                top: -40px;
                left: 50%;
                font-size: 64px;
                line-height: 64px;
                transform: translateX(-50%);
                font-family: Marcellus;
                font-weight: normal;
                color: rgba(146, 135, 134, 0.3);
                opacity: 0.8;
            }
        }
        .section-itero-pc {
            margin-top: 52px;
            position: relative;
            .section-itero__f {
                padding: 67px 150px;
                .f-ttl {
                    font-family: "Shippori";
                    font-weight: 500;
                    font-size: 36px;
                    letter-spacing: 0.1em;
                    line-height: 67px;
                    color: #463c39;
                    .ttl-small {
                        font-size: 24px;
                    }
                }
                .color-blue {
                    color: #21508D;
                }
                .f-desc {
                    margin-top: 51.5px;
                    width: 544px;
                    font-family: YuGothic;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    color: #463c39;
                }
                .color-red {
                    color: #F03460;
                }
                .back-yellow {
                    background: linear-gradient(transparent 60%, #FFFCB9 0%);
                }
                .itero-f__img-pack {
                    position: absolute;
                    z-index: -10;
                    top: 0;
                    right: 0;
                }
            }
            .section-itero__s {
                position: relative;
                margin-top: 50px;
                .itero-s__img-pack {
                    position: absolute;
                    z-index: -20;
                }
                .s-content {
                    padding: 333px 20px 140px 713px;
                    .s-ttl {
                        font-family: "Shippori";
                        font-weight: 500;
                        font-size: 36px;
                        letter-spacing: 0.1em;
                        line-height: 67px;
                        color: #463c39;
                        .only-pc {
                            display: block;
                        }
                    }
                    .color-blue {
                        color: #21508D;
                    }
                    .color-red {
                        color: #F03460;
                    }
                    .back-yellow {
                        background: linear-gradient(transparent 60%, #FFFCB9 0%);
                    }
                    .s-desc {
                        width: 500px;
                        margin-top: 58px;
                        font-family: YuGothic;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 26px;
                        color: #463c39;
                    }
                }
            }
            .section-itero-sp {
                display: block;
            }
        }
        .section-itero-sp {
            margin-top: 45px;
            display: none;
            .itero-f {
                &__img-pack {
                    display: flex;
                    justify-content: center;
                }
                .color-blue {
                    color: #21508D;
                }
                &__ttl {
                    margin-top: 33px;
                    padding: 0 30px;
                    font-family: "Shippori";
                    font-weight: 500;
                    font-size: 31px;
                    letter-spacing: 0.1em;
                    line-height: 67px;
                    color: #463c39;
                    .ttl-small {
                        font-size: 24px;
                    }
                }
                &__desc {
                    margin-top: 35px;
                    padding: 0 30px;
                    font-family: YuGothic;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    color: #463c39;
                    .color-red {
                        color: #F03460;
                    }
                }
            }
            .itero-s {
                margin-top: 80rem;
                margin-bottom: 80rem;
                &__img-pack {
                    display: flex;
                    justify-content: center;
                }
                .color-blue {
                    color: #21508D;
                }
                &__ttl {
                    padding: 0 30px;
                    font-family: "Shippori";
                    font-weight: 500;
                    font-size: 31px;
                    letter-spacing: 0.1em;
                    line-height: 67px;
                    color: #463c39;
                    .ttl-small {
                        font-size: 24px;
                    }
                }
                &__desc {
                    margin-top: 15px;
                    padding: 0 30px;
                    font-family: YuGothic;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 26px;
                    color: #463c39;
                    .color-red {
                        color: #F03460;
                    }
                }
            }
        }
    }
}

@media (max-width:1399px) {
    .section-itero {
        .container {
            .section-itero-pc {
                .section-itero__f {
                    padding-left: 30rem;
                    padding-right: 0;
                    .f-desc {
                        width: 500px;
                    }
                    .itero-f__img-pack {
                        width: 650rem;
                    }
                }
                .section-itero__s {
                    margin-top: 135rem;
                    .itero-s__img-pack {
                        width: 650rem;
                    }
                    .s-content {
                        padding-left: 670rem;
                        padding-top: 50rem;
                        padding-bottom: 235rem;
                        .s-ttl {
                            .pc-only {
                                display: none;
                            }
                        }
                        .s-desc {
                            width: 420px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section-itero {
        // margin-top: 24px;
        margin-top: 80px;
        .container {
            .section-itero-pc {
                display: none;
            }
            .section-itero-sp {
                display: block;
            }
        }
    }
}

@media (max-width: 550px) {
    .section-itero {
        margin-top: 24px;
        margin-bottom: 35px;
        .container {
            .itero-ttl {
                padding: 35px 20px 0;
                font-size: 22px;
                line-height: 25px;
                .sp-only {
                    display: block;
                }
                &__top {
                    top: 5px;
                    left: 50%;
                    font-size: 44px;
                    line-height: 44px;
                }
            }
            .section-itero-sp {
                .itero-f {
                    &__ttl {
                        margin-top: 33px;
                        padding: 0 18px;
                        font-size: 23px;
                        letter-spacing: 0.1em;
                        line-height: 45px;
                        .ttl-small {
                            font-size: 15px;
                        }
                    }
                    &__desc {
                        margin-top: 35px;
                        padding: 0 18px;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
                .itero-s {
                    margin-top: 82px;
                    &__ttl {
                        padding: 0 0 0 18px;
                        font-size: 23px;
                        letter-spacing: 0.1em;
                        line-height: 45px;
                        .ttl-small {
                            font-size: 15px;
                        }
                    }
                    &__desc {
                        margin-top: 35px;
                        padding: 0 18px;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}